/Inventario.EntidadesDelNegocio/build/
/Inventario.EntidadesDelNegocio/dist/
/Inventario.AccesoADatos/nbproject/private/
/Inventario.EntidadesDelNegocio/nbproject/private/
/Inventario.AppWeb/nbproject/private/
/Inventario.EntidadesDelNegocio/build
/Inventario.AccesoADatos/build/
/Inventario.AccesoADatos/dist/
/Inventario.AppWeb/build/
